body {
            font-family: 'Roboto', serif;
            margin: 0;
        }

        .row {
            display: flex;
        }

        .sidebar-right {
            width: 150px;
            height: 935px;
            background: #191718;
        }

        .menu {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        .menu li {
            padding: 14px 71px 11px 16px;
            font-size: 16px;
            color: #AAAAAA;
            line-height: 18.75px;
            cursor: pointer;
        }

        .menu li:first-child,
        .menu li:hover {
            color: #FFFFFF;
        }

        .body-content {

            width: calc(100% - 150px);
            padding: 0 129px;

        }

        .logo {
            text-align: center;
        }

        .logo img {
            text-align: center;
            width: 310px;
            height: 122px;
            padding-top: 20px;
            padding-bottom: 30px;
            display: inline-block;
        }

        .header-description {
            width: 1510px;
            height: 210px;
            background: #EFEFEF;
        }

        .header-description-title {
            text-align: center;
            padding-top: 38px;
            padding-bottom: 18px;
            height: 21px;
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 21px;



        }

        .header-description-content {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            display: flex;
            align-items: center;
            text-align: center;
            padding: 0 269px;
            color: #000000;
        }

        .content {
            padding: 40px 0 182px 0;
            display: flex
        }

        .box {
            width: 470px;
            height: 252px;
            padding-left: 50px;
        }

        .box:first-child {
            padding-left: 0px;
        }

        .box-content {
            position: relative;
            flex-direction: column;
            min-width: 0;
            word-wrap: break-word;
            background-color: #fff;
            background-clip: border-box;
        }

        .box-title {
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 28px;
            padding-bottom: 18px;
            color: #000000;
        }

        .box-image img {
            width: 128px;
            height: 128px;
            float: left;
            padding-right: 16px;
        }

        .box-description {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #000000;
        }

        .footer {
            border-top: 1px solid #DEDEDE;
        }

        .copyright {
            padding: 30px 0 30px 129px;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #3E3E3E;
        }



        @media (max-width: 1024px) {
            .row {
                display: unset;
            }

            .sidebar-right {
                width: 100%;
                height: 47px;
                background: #191718;
            }

            .menu {
                display: flex
            }

            .menu li {
                padding: 14px;
            }

            .body-content {
                width: auto;
                padding: 0px 15px;
            }


            .header-description {
                width: 100%;
                width: 100%;
                height: auto;
              
            }

            .header-description-title {
                text-align: center;
                padding-top: 38px;
                padding-bottom: 18px;
                height: 21px;
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                line-height: 21px;

            }

            .header-description-content {
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                display: flex;
                align-items: center;
                text-align: center;
                padding: 0 15px;
                color: #000000;
                padding-bottom: 36px;
            }

            .content {
                display: unset;
            }

            .box {
                width: 100%;
				 padding-top: 36px;
				  height: auto;
				   padding-left: 0;
            }
			  .box-image img {
                width: 100px;
                height: 100px;
            }
			
			 .footer {
            margin-top: 36px;
        }

        .copyright {
            padding:15px;
        }

        }
